/.vscode/*
!/.vscode/extensions.json
!/.vscode/settings.json
!/.vscode/launch.json
!/.vscode/tasks.json
/CMakeUserPresets.json
build-output/*
Testing/
build/*
/build_host/*
/build_host_asan_1/*
/build-output/*
__pycache__/
*.pyc
