#
# SPDX-FileCopyrightText: 2019-2023 iodé Technologies
# SPDX-License-Identifier: AGPL-3.0-or-later
#

service iode-snort /system_ext/bin/iode-snort
    class main
    user root
    group root package_info
    disabled

on early-boot
   mkdir /data/snort 0700 root root
   restorecon --recursive /data/snort
   setprop iode-snort.first_start true
   enable iode-snort
