#
# SPDX-FileCopyrightText: 2024-2025 sucré
# SPDX-License-Identifier: AGPL-3.0-or-later
#

service sucre-snort /system_ext/bin/sucre-snort
    class main
    user root
    socket sucre-snort-control stream 0666 root root
    socket sucre-snort-netd seqpacket 0600 root root
    group root package_info
    disabled

on early-boot
   mkdir /data/snort 0700 root root
   restorecon --recursive /data/snort
   setprop sucre-snort.first_start true
   enable sucre-snort
